<!-- About_Us -->
<div class="modal fade" id="About_Us" tabindex="-1" role="dialog" aria-labelledby="About_UsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header d-block">
             <h5 class="modal-title text-center " id="About_UsLabel">About Us</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
            </div>
             <div class="modal-body text-center">
                Welcome to scanmarket, your number one source for Consumer products. We're dedicated to giving you the very best of product, with a focus on dependability, customer service and uniqueness.
                Founded in 2020 by deyaa pozan,  has come a long way from its beginnings in a amman,. We now serve customers all over  jordan, and are thrilled to be a part of the  fair trade wing of the mall industry.
                
                We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
                
                Sincerely,
                Name  Deyaa Pozan ,scanmarket CEO
             </div>
        
        </div>
    </div>
</div>
<!-- Delivery-->
<div class="modal fade" id="Delivery" tabindex="-1" role="dialog" aria-labelledby="DeliveryLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-block">
             <h5 class="modal-title text-center " id="DeliveryLabel">Delivery infomation</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
            </div>
             <div class="modal-body text-center">
                We offer the best delivery service in The Kingdom of Jordan, 
                fast and product protection, 
                
                <ul>
                    delivery price :
                <li>Amman & Zarqa : 1 JD, 12 hours </li>
                <li>Northern Provinces:2 JD, 24 hours </li>
                <li>Central Provinces:2 JD, 24 hours </li>
                <li>Southern Provinces:3 JD, 48 hours</li> 
                </ul>
             </div>
        
        </div>
    </div>
</div>
<!-- Privacy Policy-->
<div class="modal fade" id="Policy" tabindex="-1" role="dialog" aria-labelledby="PolicyLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-block">
             <h5 class="modal-title text-center " id="PolicyLabel">Privacy Policy</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
            </div>
             <div class="modal-body text-center">
                We value the trust you place in us. That's why we insist upon the highest standards for secure transactions and customer information privacy. Please read the following statement to learn about our information gathering and dissemination practices.

Note: Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically.

By visiting this Website or mobile application you agree to be bound by the terms and conditions of this Privacy Policy. If you do not agree please do not use or access our Website.

By mere use of the Website, you expressly consent to our use and disclosure of your personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated into and subject to the Terms of Use.
             </div>
        
        </div>
    </div>
</div>

<!-- heart-->
<div class="modal fade" id="heart" tabindex="-1" role="dialog" aria-labelledby="heartLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content" >
            <div class="modal-header d-block">
             <h5 class="modal-title text-center " id="heartLabel"><i class="fa fa-heart" aria-hidden="true"></i>Heart Products</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
            </div>
             <div class="modal-body ">
                <%if( typeof (heart)!= "undefined"){%>
                   <div class="row">
                <% for (var i =0; i < heart.length;  i++ ) { %>
                     
                    <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item categories__item">
                                <a href="/shop-details/<%=heart[i].barcode%>">
                                <img src="/<%=heart[i].image%>" alt="" >
                                <h5><a><%=heart[i].caption%></a></h5>
                    
                            </a>
                                
                            </div>
                        
                    </div>
                
                    <%}%>
                    </div>
                    <%}else{%>
                        <div class="text-center ">
                        <h1>no item heart</h1>
                        </div>
                        <%}%>
                    </div>
                    </div>
             </div>
        
        </div>
    