<%- include('partials/header'); -%>
    <div style="margin-left: 100px;">

        <div class="page-wrapper">
            <div class="page-content--bge5">
                <div class="container">

                    <div class="login-wrap" style=" margin-top:60px ; margin-left: 0px; ">
                        <div class="login-content">
                            <div class="logo  rounded text-center">
                                <a href="/dashbord">
                                    <h4 ><span class="h2 text-success">Scan</span>Market Admin</h4>
                                </a>
                            </div>
                            <div class="login-form">
                                <form action="/register" method="post">
                                    <div class="form-group">
                                        <%- include('partials/messages'); -%>

                                            <label>User name</label>
                                            <input class="au-input au-input--full" type="text" name="username"
                                                placeholder="user name">
                                    </div>
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <input class="au-input au-input--full" type="email" name="email"
                                            placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="au-input au-input--full" type="password" name="password"
                                            placeholder="Password">
                                    </div>

                                    <button class="au-btn au-btn--block au-btn--green m-b-20"
                                        type="submit">register</button>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <!-- END PAGE CONTAINER-->



    <%- include('partials/footer'); -%>